<ul>
  <li>
    <%= link_to "Coins", coins_path, class:"btn btn-primary btn-lg" %>
    <%= link_to "Mining Types", mining_types_path, class:"btn btn-primary btn-lg"  %>
  </li>
</ul>

<p> Teste de render</p>
